<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Page title -->
	<title>Personalizowane Kalendarze spiralowane z kreatorem - zaporjketuj swój kalendarz | fotokalendarze2018.pl</title>
	<!-- Page description -->
	<meta name="description" content="A professional HTML landing page for your mobile application. Developed by Vlad Sargu at VSArt.">
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- End of Meta -->
	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/common/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/common/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/common/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/common/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/common/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/common/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/common/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/common/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/common/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="assets/img/common/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/img/common/favicon/manifest.json">
	<link rel="shortcut icon" href="assets/img/common/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="assets/img/common/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="assets/img/common/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- End of Favicon -->
	<!-- StyleSheets -->
	<link rel="stylesheet" href="dist/style.css">
	<!-- End of StyleSheets -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://use.fontawesome.com/1c62c7c2b5.js"></script>
</head>

<body class="">
	<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<!-- Preloader -->
	<div class="preloader js-preloader ">
		<span class="preloader__circle preloader__circle--primary"></span>
		<span class="preloader__circle preloader__circle--secondary"></span>
		<span class="preloader__circle preloader__circle--tertiary"></span>
	</div>
	<!-- End of Preloader -->

<div id="sidebar1" class="follow-scroll-box follow-scroll-box--right" data-margin-top="160"> 
	
	<div class="sidebar-box clixx">
		<div class="sidebar-box__title">Clixx'Pixx</div>
		<div class="sidebar-box__subtitle">Twój Kreator Kalendarzy 2018</div>
		<div class="sidebar-box__text">Zaprojektuj już teraz!</div>
		<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="sidebar-box__button">
			Pobierz kreator
			<i class="fa fa-download" aria-hidden="true"></i>
		</a>
		
	</div> 

<div class="section sidebar-box clixx-pdf">
		<div class="sidebar-box__title sidebar-box__title--thin sidebar-box__title--icon">
			<img src="assets/img/common/gaad/icons/clixx-pixx-pdf-icon.png" alt="">
		Więcej o Clixx'Pixx</div>
		
		<div class="sidebar-box__text">Łatwo zaprojektujesz i zamówisz wymarzony foto - kalendarz!</div>
		<a href="/assets/downloads/Instrukcja-obsługi-kreator-fotokalendarze2018.pdf" class="sidebar-box__button sidebar-box__button--transparent">
			Czytaj instrukcję
			<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
		</a>
		
		
	</div>


</div>


	<!-- Page -->
	<div class="page js-page ">
		<!-- Mobile Menu -->
		<div id="sidr">
			<div class="mobile-menu__close js-mobile-menu__close"></div>
			<ul class="mobile-menu js-mobile-menu ">
				<li class="mobile-menu__item ">
					<a href="index.html" class="mobile-menu__link">Kalendarze 2018</a>
					
				</li>
				<li class="mobile-menu__item ">
					<a href="#features" class="mobile-menu__link js-scroll-to">Opis produkctu</a>
				</li>
				
				<li class="mobile-menu__item ">
					<a href="#team" class="mobile-menu__link js-scroll-to">Team</a>
				</li>
				<li class="mobile-menu__item ">
					<a href="#screenshots" class="mobile-menu__link js-scroll-to">Galeria</a>
				</li> 
				<li class="mobile-menu__item ">
					<a href="#plans" class="mobile-menu__link js-scroll-to">Cennik</a>
				</li>
				<li class="mobile-menu__item ">
					<a href="#kontakt" class="mobile-menu__link js-scroll-to">Kontakt</a>
				</li>
				<li class="mobile-menu__item mobile-menu__item--button">
					<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="mobile-menu__link">Ściągnij kreator</a>
				</li>
			</ul>
		</div>
		<!-- End of Mobile Menu -->
		<!-- Header -->
		<header class="header js-header ">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<!-- Logo -->
						<div class="logo ">
							<a href="index.html" class="logo__link">
								<img src="assets/img/common/logo/logo.png" alt="Logo" class="logo__image js-logo__image" data-switch="true"> </a>
						</div>
						<!-- End of Logo -->
					</div>
					<div class="col-md-18 col-sm-18 col-xs-12">
						<!-- Menu -->
						<nav>
							<ul class="menu menu--right js-menu sf-menu ">
								<li class="menu__item ">
									<a href="#download" class="menu__link">Kalendarze 2018</a>									
								</li>
								<li class="menu__item ">
									<a href="#features" class="menu__link js-scroll-to">Opis produktu</a>
								</li>																
								<li class="menu__item ">
									<a href="#screenshots" class="menu__link js-scroll-to">Galeria</a>
								</li>
								<li class="menu__item ">
									<a href="#plans" class="menu__link js-scroll-to">Cennik</a>
								</li>
								<li class="menu__item ">
									<a href="#contacts" class="menu__link js-scroll-to">Kontakt</a>
								</li>
								<li class="menu__item menu__item--button">
									<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="menu__link ">Ściągnij kreator</a>
								</li>
							</ul>
						</nav>
						<!-- End of Menu -->
						<!-- Menu Trigger -->
						<a class="menu-trigger js-menu-trigger " href='sidr'> </a>
						<!-- End of Menu Trigger -->
					</div>
				</div> 
			</div>
		</header>
		<!-- End of Header -->
		<!-- Hero -->
		<div class="hero ">
			<!-- Slider -->
			<div class="slider js-slider owl-carousel ">
				<div class="slider__slide">
					<h2 class="slider__title">PERSONALIZOWANE <span class='slider__highlight'>KALENDARZE</span><br>
					<span class="slider__title--secline">Bądź gotowy na 2018 ROK!</span>
					</h2>
					<div class="slider__content">

						<div class="slider__secondary">
							<img src="/assets/img/common/gaad/slides/side-1-left.png" class="slider__secondary" alt="Slider Image">
						</div>
							
							
						<div class="slider__secondary slider__secondary--right">
							<img src="/assets/img/common/gaad/slides/side-1-right.png" class="slider__secondary slider__secondary--right" alt="Slider Image">
						</div>

						<div class="slider__image">
							<img src="/assets/img/common/gaad/slides/center-1.png" class="slider__image" alt="Slider Image">	
						<div class="slider__price-label-wrapper">
								<ul>
									<li>Format <span class="price-value">A4</span> już od 
										<span class="price-value"> 7,99
											<span class="price-currency">zł</span>
										</span>
									</li>

									<li>Format <span class="price-value">A3</span>	 już od 
										<span class="price-value"> 11,99
											<span class="price-currency">zł</span>
										</span>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
				

				<div class="slider__slide">
					<h2 class="slider__title">KALENDARZE <span class='slider__highlight'>WIELOPLANSZOWE</span>
					<br >
						<span class="slider__title--secline">Oprawa spiralowana w wybranym kolorze</span>
					</h2>
					<div class="slider__content">
						<div class="slider__secondary">
							<img src="/assets/img/common/gaad/slides/side-2-left.png" class="slider__secondary" alt="Slider Image">
						</div>

						<div class="slider__secondary slider__secondary--right">
							<img src="/assets/img/common/gaad/slides/side-2-right.png" class="slider__secondary slider__secondary--right" alt="Slider Image">
						</div>

						<div class="slider__image">
							<img src="/assets/img/common/gaad/slides/center-2.png" class="slider__image" alt="Slider Image">
						<div class="slider__price-label-wrapper">
								<ul>
									<li>Format <span class="price-value">A4</span> już od 
										<span class="price-value"> 7,99
											<span class="price-currency">zł</span>
										</span>
									</li>

									<li>Format <span class="price-value">A3</span>	 już od 
										<span class="price-value"> 11,99
											<span class="price-currency">zł</span>
										</span>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>  


				<div class="slider__slide">
					<h2 class="slider__title">  
						SPRZWDŹ NASZ <span class='slider__highlight'>KREATOR ONLINE.</span> 
						<span class="slider__title--secline">Sam zaprojektuj swój kalendarz!</span>
					</h2>
					<div class="slider__content">
						<div class="slider__secondary">
							<img src="/assets/img/common/gaad/slides/side-3-left.png" class="slider__secondary" alt="Slider Image">
						</div>

						<div class="slider__secondary slider__secondary--right">
							<img src="/assets/img/common/gaad/slides/side-3-right.png" class="slider__secondary slider__secondary--right" alt="Slider Image">
						</div>

						<div class="slider__image">
							<img src="/assets/img/common/gaad/slides/center-3.png" class="slider__image" alt="Slider Image">
						

							<div class="slider__price-label-wrapper">
								<ul>
									<li>Format <span class="price-value">A4</span> już od 
										<span class="price-value"> 7,99
											<span class="price-currency">zł</span>
										</span>
									</li>

									<li>Format <span class="price-value">A3</span>	 już od 
										<span class="price-value"> 11,99
											<span class="price-currency">zł</span>
										</span>
									</li>
								</ul>

							</div>
						</div>
					</div>
				</div>

<!--
	
-->
			</div>
			<!-- End of Slider -->
		</div>
		<!-- End of Hero -->

<!-- Section -->
		<section class="section" id='plans'>
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-24 download__info">
						<h1>Oferujemy kalendarze personalizowane na 2018 rok.</h1>
						<h2>Obsługujemy zarówno firmy jak klientów indywidualnych. </h2>
						<br>
						<p>By zoptymalizować proces tworzenia kalendarzy przygotowaliśmy szerego rozwiązań. Posiadamy kreator na komputery typu desktop oraz kreator kalendarzy firmowych online.<br>
						Jesteśmy gotowi na wyzwania oraz kreacje unikatowe, niestandardowe, stworzone na potrzeby konkretnego klienta. <br>
						Jeżeli interesuje Państwa ciekawa i personalizowana forma reklamy, lub może checie wręczyć komuś bardzo oryginalny prezent to nasze kalendarza są bardzo trafnym wyborem.</p>
					</div>
				</div>
			</div>


			<div class="container">
				<div class="row">
					<div class="col-md-24">
						<!-- Section Title -->
						<h2 class="section-title section-title--center ">Cennik 
							<span class='section-title__highlight'>naszych kalendarzy</span>
						</h2>
						<br><br>
						<!-- End of Section Title -->
						<!-- Section Subtitle
						<p class="section-subtitle section-subtitle--center "> Lorem ipsum dolor sit amet, eos fierent pertinacia eu est elit tincidunt sadipscing te </p> -->
						<!-- End of Section Subtitle -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-sm-16 col-sm-offset-4 col-md-offset-0">
						<!-- Pricing -->
						<div class="pricing  ">
							<h3 class="pricing__title">Ekonomiczne</h3>
							<h4 class="pricing__price">
								<span class="pricing__placeholder">
									<span class="pricing__frequency">A4</span>									
									<span class="pricing_price">7,99</span>
									<span class="pricing__currency">zł</span>									
								</span>
							</h4>
							<h4 class="pricing__price">
								<span class="pricing__placeholder">
									<span class="pricing__frequency">A3</span>
									<span class="pricing_price">11,99</span>
									<span class="pricing__currency">zł</span>
									
								</span>
							</h4>
							<ul class="pricing__features">
								<li class="pricing__feature">
									<span class="pricing__highlight">135g</span> papier kredowy</li>
								<li class="pricing__feature">
									<span class="pricing__highlight">21cm lub 31cm</span> długość spirali, pionowo</li>
								<li class="pricing__feature">
									<span class="pricing__highlight">12 + okadka</span> stron, miesięcy</li>
								
								<li class="pricing__feature pricing__feature--passive">uszlachetnienie</li>
							</ul>
							<!-- Button -->
							<div class="button button--small button--shadow button--dark  ">
								<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="button__link">Pobierz kreator</a>
							</div>
							<!-- End of Button -->
						</div>
						<!-- End of Pricing -->
					</div>
					<div class="col-md-8 col-sm-16 col-sm-offset-4 col-md-offset-0">
						<!-- Pricing -->
						<div class="pricing pricing--featured  ">
							<h3 class="pricing__title">Standard</h3>
							<h4 class="pricing__price">
								<span class="pricing__placeholder">
									<span class="pricing__frequency">A4</span>
									<span class="pricing_price">8,99</span>
									<span class="pricing__currency">zł</span>									
								</span>
							</h4>
							<h4 class="pricing__price">
								<span class="pricing__placeholder">									
									<span class="pricing__frequency">A3</span>
									<span class="pricing_price">12,99</span>
									<span class="pricing__currency">zł</span>									
								</span>
							</h4>
							<ul class="pricing__features">
								<li class="pricing__feature">
									<span class="pricing__highlight">170g</span> papier kredowy, satynowy</li>
								<li class="pricing__feature">
									<span class="pricing__highlight">21cm lub 31cm</span> długość spirali, pionowo</li>
								<li class="pricing__feature">
									<span class="pricing__highlight">12 + okadka</span> stron, miesięcy</li>
								
								<li class="pricing__feature pricing__feature--passive">uszlachetnienie</li>
							</ul>
							<!-- Button -->
							<div class="button button--small button--shadow button--dark  ">
								<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="button__link">Pobierz kreator</a>
							</div>
							<!-- End of Button -->
						</div>
						<!-- End of Pricing -->
					</div>
					<div class="col-md-8 col-sm-16 col-sm-offset-4 col-md-offset-0">
						<!-- Pricing -->
						<div class="pricing  ">
							<h3 class="pricing__title">Exclusive</h3>
							<h4 class="pricing__price">
								<span class="pricing__placeholder">
									<span class="pricing__frequency">A4</span>
									<span class="pricing_price">12,99</span>
									<span class="pricing__currency">zł</span>
									
								</span>
							</h4>
							<h4 class="pricing__price">
								<span class="pricing__placeholder">
									<span class="pricing__frequency">A3</span>
									<span class="pricing_price">18,99</span>
									<span class="pricing__currency">zł</span>
									
								</span>
							</h4>
							<ul class="pricing__features">
								<li class="pricing__feature">
									<span class="pricing__highlight">200g</span> papier kredowy</li>
								<li class="pricing__feature">
									<span class="pricing__highlight">21cm lub 31cm</span> długość spirali, pionowo</li>
								<li class="pricing__feature">
									<span class="pricing__highlight">12 + okadka</span> stron, miesięcy</li>
								<li class="pricing__feature">
									<span class="pricing__highlight">Folia błysk lub mat</span> Uszlachetnienie
								</li>
							</ul>
							<!-- Button -->
							<div class="button button--small button--shadow button--dark  ">
								<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="button__link">Pobierz kreator</a>
							</div>
							<!-- End of Button -->
						</div>
						<!-- End of Pricing -->
					</div>
				</div>
			</div>
		</section>
		<!-- End of Section -->

		<!-- Section -->
		<section class="section section--grey " id="download">
			



			<div class="container">
				

				<div class="row">
					<div class="col-md-20 col-lg-offset-2 section-title-wrapper">		
						<!-- Section Title -->
						<h2 class="section-title section-title--center "> Pobierz nasz
							<span class='section-title__highlight'>kreator</span> kalendarzy 2018</h2>
						<!-- End of Section Title -->
						<!-- Section Subtitle -->
						<!--<p class="section-subtitle section-subtitle--center "> available on all modern operating systems </p>
						 End of Section Subtitle -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-20 col-md-20 col-lg-offset-2 col-md-offset-2 download-button-wrapper"> 
						<!-- Download Button -->
						<a class="download-button" href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe">
							<img src="/assets/img/common/gaad/cp-logo.png" class="download-button__icon" alt="Platform Icon">
							<span class="download-button__platform">Windows XP/Vista/7/8</span>
							<span class="download-button__store">ClixxPixx - kreator kalendarzy personalizowanych</span>
							<p class="download-button__description">Pobierz i zainstaluj program. Wybierz jeden z dostępnych szablonów i zacznij projektować kalendarz z wykorzystaniem zdjęć ze swojego komputera. Zobacz jakie to proste i wygodne!</p>
							<section class="toolbox">
								<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="button__link">Zaprojektuj kalendarz personalizowany - pobierz kreator</a>	
							</section>		
							

						</a>
						<!-- End of Download Button -->
					</div>
					
				</div>

				


				<div class="row">
					<div class="col-md-20 col-lg-offset-2 section-title-wrapper">
						
						<!-- Section Title -->
						<h2 class="section-title section-title--center ">Projektowanie <span class="section-title__highlight">kalendarzy</span>		
						<!-- End of Section Title -->
						
					</div>
				</div>
					

				<div class="row">
					<div class="col-lg-20 col-md-20 col-lg-offset-2 download-button-wrapper">
						<!-- Download Button -->
						<a class="download-button js-scroll-to" href="#kontakt">
							<img src="/assets/img/common/gaad/wk-logo.png" class="download-button__icon" alt="Platform Icon">
							<span class="download-button__platform">Projektowanie kalendarzy </span>
							<span class="download-button__store">Prosimy o kontakt w celu omówienia indywidualnych potrzeb.</span>
							<p class="download-button__description">Mamy ogromne możliwości w kreowaniu produktów, które w 100% zaspokajają potrzeby klienta. Doradzimy jak opracować projekt graficzny i przygotować go do druku. Na życzenie możemy wykonać model produktu by ocenić jego walory oraz sprawdzić kolorystykę. Skontaktuj się z nami jeżeli potrzebujesz porady.</p>
							
							<section class="toolbox">
								<a href="#kontakt" class="button__link js-scroll-to">Zapytaj się o projekt kalendarza</a>	
							</section>	
						</a>
						<!-- End of Download Button -->
					</div>
					
				</div>	


			</div>
		</section>
		<!-- End of Section -->
 		
		


		<!-- Section -->
		<section class="section section--skin-1 " id='screenshots'>
			<div class="container">
				<div class="row">
					<div class="col-md-24">
						<!-- Section Title -->
						<h2 class="section-title section-title--center "> Personalizowany kalendarz to 
							<span class='section-title__highlight'>indealny prezent</span> na każdą okazję.
						</h2>
						<!-- End of Section Title -->
						<!-- Section Subtitle -->
						<p class="section-subtitle section-subtitle--wide ">Dzięki kreatorowi możesz każdego miesiąca cieszyć się wspomnieniami wybranej chwili oraz podarować bliskim to samo przyjemne uczucie. Zamów personalizowany kalendarz dla caej rozdziny już dziś.</p>
						<!-- End of Section Subtitle -->

						<h2 class="section-title section-title--center section-title--primary-color "> 3 główne cechy kreatora.
						</h2>


						<!-- Tabs -->
						<div class="tabs js-tabs ">
							<ul class="tabs__header">
								<li class="tabs__title">
									<a class="tabs__link" href="#firstTab">
										<img src="assets/img/common/gaad/icons/features-icon.png" class="tabs__icon" alt="Tab icon"> Gotowe układy </a>
								</li>
								<li class="tabs__title">
									<a class="tabs__link" href="#secondTab">
										<img src="assets/img/common/gaad/icons/features-icon.png" class="tabs__icon" alt="Tab icon"> Dowolna grafika </a>
								</li>
								<li class="tabs__title">
									<a class="tabs__link" href="#thirdTab">
										<img src="assets/img/common/gaad/icons/features-icon.png" class="tabs__icon" alt="Tab icon"> Łatwe projektowanie </a>
								</li>
							</ul>
							<div id="firstTab" class="tabs__content">
								<div class="tabs__izometric">
									<div class="tabs__screenshot">
										
										<img src="assets/img/common/gaad/inspirations/1.png"  alt="Screen preview">

										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>

										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">1</div>
											<div class="tabs__screenshot__label__text">Możesz wybrać różne układy dla zdjęć na każdej stronie kalendarza...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/2.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">2</div>
											<div class="tabs__screenshot__label__text">Wybierz dowolny układ w zakładce Szablony, złap go i upuść na stronę</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/3.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">3</div>
											<div class="tabs__screenshot__label__text">Na każdej jednej stronie możesz umieścić dowolny dostępny układ!</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/4.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">4</div>
											<div class="tabs__screenshot__label__text">Ściągnij i zainstaluj Kreator Clixx’Pixx na swoim komputerze...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/5.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">5</div>
											<div class="tabs__screenshot__label__text">Utwórz ”NOWY” » FotoKalendarz i wybierz parametry kalendarza...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/6.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">6</div>
											<div class="tabs__screenshot__label__text">Wybierz ROK dla Kalendarza kliknij ”OK” i zacznij projektować</div>
										</div>
									</div>
									 </div>
								
							</div>
							<div id="secondTab" class="tabs__content">
								<div class="tabs__izometric">
									<div class="tabs__screenshot">
										
										<img src="assets/img/common/gaad/inspirations/7.png"  alt="Screen preview">

										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>

										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">1</div>
											<div class="tabs__screenshot__label__text">Wybierz dowolny układ w zakładce Szablony, złap go i upuść na stronę</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/8.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">2</div>
											<div class="tabs__screenshot__label__text">W zakładce Zdjęcia wybierz folder ze zdjęciami na swoim komputerze...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/9.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">3</div>
											<div class="tabs__screenshot__label__text">Łatwo dodawaj zdjęcia do swojego kalendarza metodą „złap i upuść”!</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/10.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">4</div>
											<div class="tabs__screenshot__label__text">Ściągnij i zainstaluj Kreator Clixx’Pixx na swoim komputerze...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/11.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">5</div>
											<div class="tabs__screenshot__label__text">Utwórz ”NOWY” » FotoKalendarz i wybierz parametry kalendarza...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/12.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">6</div>
											<div class="tabs__screenshot__label__text">Wybierz ROK dla Kalendarza kliknij ”OK” i zacznij projektować!</div>
										</div>
									</div>
									 </div>
								
							</div>
							<div id="thirdTab" class="tabs__content">
								<div class="tabs__izometric">
									<div class="tabs__screenshot">
										
										<img src="assets/img/common/gaad/inspirations/13.png"  alt="Screen preview">

										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>

										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">1</div>
											<div class="tabs__screenshot__label__text">Możesz zaprojektować strony w różnych kolorach i układach!</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/14.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">2</div>
											<div class="tabs__screenshot__label__text">Możesz dodać ciekawe efekty do zdjęć i tekstów w Twoim projekcie!</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/15.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">3</div>
											<div class="tabs__screenshot__label__text">Możesz dodać i wyróżnić ulubione daty na każdej stronie kalendarza!</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/16.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">4</div> 
											<div class="tabs__screenshot__label__text">Ściągnij i zainstaluj Kreator Clixx’Pixx na swoim komputerze...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/17.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">5</div>
											<div class="tabs__screenshot__label__text">Utwórz ”NOWY” » FotoKalendarz i wybierz parametry kalendarza...</div>
										</div>
									</div>
									
									<div class="tabs__screenshot">
										<img src="assets/img/common/gaad/inspirations/18.png"  alt="Screen preview">
										<a href="" class="tabs__screenshot__button">
											Pobierz kreator
											<i class="fa fa-download" aria-hidden="true"></i>
										</a>
										<div class="tabs__screenshot__label">
											<div class="tabs__screenshot__label__prefix">6</div>
											<div class="tabs__screenshot__label__text">Wybierz ROK dla Kalendarza kliknij ”OK” i zacznij projektować !</div>
										</div>
									</div>
									 </div>
								
							</div>
							
						</div>
						<!-- End of Tabs -->

						<p class="section-subtitle section-subtitle--center ">Wszystkie te kalendarze i wiele innych produktów łatwo wykonasz samodzielnie w naszym kreatorze.</p>

						<!-- Push -->
						<div class="push push--50  "> </div>
						<!-- End of Push -->
					</div>
				</div>
				
			</div>
		</section>
		<!-- End of Section -->


		<!-- Section -->
		<section class="section " id='features'>
			<div class="container">
				<div class="row">
					<div class="col-md-24">
						<!-- Section Title -->
						<h2 class="section-title section-title--center ">Jak wykonujemy  
							<span class='section-title__highlight'>nasze kalendarze</span>
						</h2>


						<br><br>
						<!-- End of Section Title -->
						<!-- Section Subtitle 
						<p class="section-subtitle section-subtitle--center "> Lorem ipsum dolor sit amet, eos fierent pertinacia eu est elit tincidunt sadipscing te </p>-->
						<!-- End of Section Subtitle -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 per-wieloplanszowy">
						<!-- Push -->
						<div class="push push--60  "> </div>
						<!-- End of Push -->
						<!-- Section Title -->
						<h2 class="section-title "> Kalendarz wieloplanszowy spiralowany </h2>
						<!-- End of Section Title -->
						<!-- Section Subtitle -->
						<p class="section-subtitle "> Szukasz unikatowego prezentu lub ciekawego dopełnienia swojego wnętrza? Cieszymy się że do nas zaglądasz. </p>
						<!-- End of Section Subtitle -->
						
						<!-- Accordion -->
						<ul class="accordion js-accordion ">
							<li class="accordion__item">
								<h3 class="accordion__title">
									<img src="assets/img/common/gaad/icons/features-icon2.png" class="accordion__icon" alt="Accordion Icon"> Wysokiej jakości druk cyfrowy </h3>
								<div class="accordion__content">
									<p>Nasze produkty drukujemy na maszynach cyfrowych marki RICOH. Są to wysokiej klasy zestawy drukujące zapewniające wierne odwzorowanie koloru i szeroki zakres drukowanych formatów. Posiadamy dwie tego typu maszyny, co zapewnia ciągość produkcji.</p>
								</div>
							</li>
							<li class="accordion__item">
								<h3 class="accordion__title">
									<img src="assets/img/common/gaad/icons/features-icon2.png" class="accordion__icon" alt="Accordion Icon"> Papier od czołowych dystrybutorów w kraju </h3>
								<div class="accordion__content">
									<p>Nasza firma cieszy się dużą ilością kontaktów handlowych dlatego możemy oferować najwyższej jakości materiay w konkurencyjnych cenach. Wspópracujemy z dostawcami zajmującymi czołowe miejsca w rankingach w kraju i Europie.</p>
								</div>
							</li>
							<li class="accordion__item">
								<h3 class="accordion__title">
									<img src="assets/img/common/gaad/icons/features-icon2.png" class="accordion__icon" alt="Accordion Icon"> Zespół z wieloletnim doświadczeniem </h3>
								<div class="accordion__content">
									<p>Od początku istnitnia firmy stawialiśmy na ludzi dlatego nasz zespół składa się wykwalifikowanych, lubiących swoją pracę osób. Dokładamy wszelkich starań by produkt speniał wszelkie oczekiwania klienta.</p>
								</div>
							</li>

							<li class="accordion__item">
								<h3 class="accordion__title">
									<img src="assets/img/common/gaad/icons/features-icon2.png" class="accordion__icon" alt="Accordion Icon"> Możesz liczyć na nasze wsparcie </h3>
								<div class="accordion__content">
									<p> Zawsze możesz liczyć na fachowe porady. Jeżeli są jakieś pytania z pewnością dostarczymy odpowiedzi! Nasz dział handlowy jest do Państwa dyspozycji.</p>
								</div>
							</li>
						</ul>
						<!-- End of Accordion -->

					</div>
					<div class="col-lg-12 col-md-11 col-md-offset-1 col-lg-offset-0">
						<!-- Screens Preview -->
						<div class="screens-preview screens-preview--right  ">
							<img src="/assets/img/common/gaad/features/features-1.png" class="screens-preview__primary" alt="Primary Screenshot">
							<img src="/assets/img/common/gaad/slides/center-2.png" class="screens-preview__secondary" alt="Secondary Screenshot"> </div>
						<!-- End of Screens Preview -->
					</div>
				</div>
				

				
			</div>
		</section>
		<!-- End of Section -->
		
		
		
		<!-- End of Section -->
		
	
				<!-- Section -->
		<section class="section  " id='team'>
			<div class="container">
				<div class="row">
					<div class="col-md-24">
						<!-- Section Title -->
						<h2 class="section-title section-title--center "> Poznaj
							<span class='section-title__highlight'>nasz zespół doradców</span>
						</h2>
						<!-- End of Section Title -->
						<!-- Section Subtitle -->
						<p class="section-subtitle section-subtitle--center ">Na państwa pytania czeka zespó wykwalifikowanych doraców z wieloleptnim doświadczeniem w rynku poligraficznym</p>
						<!-- End of Section Subtitle -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-lg-5 col-lg-offset-3 ">
						<!-- Member -->
						<div class="member  ">
							<div class="member__photo-wrapper">
								<img src="assets/img/common/gaad/sales-rep/klaudia.png" class="member__photo" alt="Member Photo">
								
							</div>
							<h3 class="member__name">Klaudia Madejewska</h3>
							<p class="member__position"><a href="mailto:k.madejewska@c-p.com.pl">k.madejewska@c-p.com.pl</a></p>
							<p class="member__name"><a href="tel:502 727 782">+48 502 727 782</a></p>
							
						</div>
						<!-- End of Member -->
					</div>

					<div class="col-md-12 col-sm-12 col-lg-5 col-lg-offset-2 ">
						<!-- Member -->
						<div class="member  ">
							<div class="member__photo-wrapper">
								<img src="assets/img/common/gaad/sales-rep/magda.png" class="member__photo" alt="Member Photo">
								
							</div>
							<h3 class="member__name">Magda Chlebowska</h3>
							<p class="member__position"><a href="mailto:magda@c-p.com.pl">magda@c-p.com.pl</a></p>
							<p class="member__name"><a href="tel:519 115 101">+48 519 115 101</a></p>
							
						</div>
						<!-- End of Member -->
					</div>

					<div class="col-md-12 col-sm-12 col-lg-5 col-lg-offset-2 ">
						<!-- Member -->
						<div class="member  ">
							<div class="member__photo-wrapper">
								<img src="assets/img/common/gaad/sales-rep/monika.png" class="member__photo" alt="Member Photo">
								
							</div>
							<h3 class="member__name">Monika Grudzińska</h3>
							<p class="member__position"><a href="mailto:m.grudzinska@c-p.com.pl">m.grudzinska@c-p.com.pl</a></p>
							<p class="member__name"><a href="tel:604 760 031">+48 604 760 031</a></p>
							
						</div>
						<!-- End of Member -->
					</div>
					
				</div>
			</div>
		</section>
		<!-- End of Section -->
		
		<!-- End of Section -->
		<!-- Section -->
		<section class="section section--no-pb " id='contacts'>
			<div class="container">
				<div class="row">
					<div class="col-md-24">
						<!-- Section Title -->
						<h2 class="section-title section-title--center "> Skontaktuj się
							<span class='section-title__highlight'>z nami</span>
						</h2>
						<!-- End of Section Title -->
						
					</div>
				</div>
				<div class="row">
					<div class="col-lg-20 col-lg-offset-2 col-md-24 col-md-offset-0">
						<!-- Contact Form -->
						<div class="contact-form  ">
							<form action="blocks/contact-form/contact-form.php" class="contact-form__form js-contact-form">
								<div class="contact-form__modal js-contact-form__modal">
									<h3 class="contact-form__message"> Your message was sent
										<span>successfully</span>
										<br>Thank you! </h3>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label class="contact-form__label" for="name-input">Imię i nazwisko</label>
										<!-- Input -->
										<div class="input input--contact  ">
											<input type="text" name="name-input" class="input__field" placeholder="" id="name-input" data-validation="required"> </div>
										<!-- End of Input -->
										<label class="contact-form__label" for="email-input">Adres e-mail</label>
										<!-- Input -->
										<div class="input input--contact  ">
											<input type="text" name="email-input" class="input__field" placeholder="" id="email-input" data-validation="required email"> </div>
										<!-- End of Input -->
										<label class="contact-form__label" for="subject-input">Telefon</label>
										<!-- Input -->
										<div class="input input--contact  ">
											<input type="text" name="subject-input" class="input__field" placeholder="" id="subject-input" > </div>
										<!-- End of Input -->
									</div>
									<div class="col-md-12">
										<label class="contact-form__label" for="message-input">Wiadomość</label>
										<textarea name="message-input" id="message-input" class="contact-form__textarea" data-validation="required"></textarea>
										<!-- Button -->
										<div class="button button--small button--shadow  ">
											<input type="submit" class="button__input" value="Wyślij wiadomość"> </div>
										<!-- End of Button -->
									</div>
								</div>
							</form>
						</div>
						<!-- End of Contact Form -->
					</div>
				</div>
			</div>
			<!-- Map -->
			<div class="map  " id="map" data-lon="52.331011" data-lat="21.104759"> </div>
			<!-- End of Map -->
		</section>
		<!-- End of Section -->
		<!-- Footer -->
		<footer class="footer ">
			<a href="#" class="footer__scroll-top js-scroll-top">
				<i class="fontello-level-up footer__scroll-icon"></i>
			</a>
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<!-- Logo -->
						<div class="logo ">
							<a href="index.html" class="logo__link">
								<img src="assets/img/common/logo/logo-dark.png" alt="Logo" class="logo__image"> </a>
						</div>
						<!-- End of Logo -->
						<p class="footer__message">Waścicielem marki fotoKalendarze2018.pl jest Mazowieckie Centrum Poligrafii z siedzibą w Markach k/ Warszawy przy ul. Sonecznej 3C.</p>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-2">
						<!-- Link List -->
						<nav class="link-list  ">
							<ul>
								<li class="link-list__item">
									<a href="#features" class="link-list__link js-scroll-to">Opis produktu</a>
								</li>
								<li class="link-list__item">
									<a href="#plans" class="link-list__link js-scroll-to">Cennik</a>
								</li>
								<li class="link-list__item">
									<a href="http://designsuite.clixxpixx.com/downloads/1857139/kreatorfotokalendarze2018_home.exe" class="link-list__link">Pobierz kreator kalendarzy</a>
								</li>
							</ul>
						</nav>
						<!-- End of Link List -->
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<!-- Link List -->
						<nav class="link-list  ">
							<ul>
								
								<li class="link-list__item">
									<a href="#screenshots" class="link-list__link js-scroll-to">Galeria</a>
								</li>
								<li class="link-list__item">
									<a href="#kontakt" class="link-list__link js-scroll-to">Kontakt</a>
								</li>
							</ul>
						</nav>
						<!-- End of Link List -->
					</div>
				</div>
			</div>
			
		</footer>
		<!-- End of Footer -->
	</div>
	<!-- End of Page -->
	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYwS9Fg75WCxaFz9qjXEQqPEto-5jLZro"></script>
	<script src="dist/script.js"></script>
	<!-- End of Scripts -->
	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<!-- 
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
-->
	<!-- End of Analytics -->
</body>

</html>