/* ==========================================================================
   Block: follow-scroll-box
   Dependencies: no dependencies
   ========================================================================== */


   .follow-scroll-box{
		position:absolute;
		left: 0;
		z-index: 100000;
		background-color: red;
		
		
		 &--right {
			right:0;
			left:unset;
		 } 


   }