#download{

	background-image: url( '/assets/img/common/gaad/downloads-bg.jpg' );
	background-position: center;
	background-size: cover;
	position: relative;

	.section-title-wrapper{
		padding-top: 1.5rem;
	    background-color: rgba(255, 255, 255, 0.9);
	    margin-top: 4rem;
	}

	.download-button-wrapper{
		padding-left: 0;
		padding-right: 0;

	}

}